<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Github Stats</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <% if current_user %>
                      <li><a href="#">Hello, <%= current_user.screen_name %></a></li>
                      <li> <%= link_to "logout", logout_path, method: :delete %> </li>
                      <% else %>
                        <%= link_to "sign in through github", github_login_path %>
                      <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>My Github Stats</h1>
                <p class="lead">Profile info</p>
                <ul class="list-styled">
                    <li><%= image_tag api_service(current_user).pro_pic, height: '100' %> </li>
                    <br>
                    <li># of starred repos:  <% @starred.each do |repo| %>
                                      <%= repo["full_name"] %>
                                    <% end %>
                    </li>
                    <li>Followers:  <% @followers.each do |follower| %>
                                      <%= follower["login"] %>,
                                    <% end %>
                    </li>
                    <li>Following:  <% @following.each do |follower| %>
                                      <%= follower["login"] %>,
                                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">Contribution Summary</p>
                <ul class="list-styled">
                    <li>Repos contributed to:   <% @contributions.each do |contribution| %>
                                                        <%= contribution["name"]%>
                                                        <% if contribution["name"] != @contributions.last["name"] %>
                                                          ,
                                                        <% end %>
                                                      <% end %>
                    <li>Contributions last year: <%= api_service(current_user).contributions_last_year %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">Recent Activity</p>
                <ul class="list-styled">
                  <li>Recent commits: <% api_service(current_user).recent_commits.each do |repo| %>
                                          <%= repo[0] %>: <%= repo[1] %>
                                          <br>
                                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">Recent Activity from Followed Users</p>
                <ul class="list-styled">
                    <li>Commits:   <% @contributions.each do |contribution| %>
                                                        <%= contribution["name"]%>
                                                        <% if contribution["name"] != @contributions.last["name"] %>
                                                          ,
                                                        <% end %>
                                                      <% end %>
                    <li>Recent commits: <%= api_service(current_user).following_commits %>
                    </li>
                    <li>Repos they contributed to:  <% @starred.each do |repo| %>
                                      <%= repo["full_name"] %>
                                      <!-- and user name -->
                                    <% end %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="lead">Organizations</p>
                <ul class="list-styled">
                    <li>Belong to:   <% @contributions.each do |contribution| %>
                                                        <%= contribution["name"]%>
                                                        <% if contribution["name"] != @contributions.last["name"] %>
                                                          ,
                                                        <% end %>
                                                      <% end %>
                </ul>
            </div>
        </div>
        <!-- /.row -->

      </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
